.watchBtn {
  display: flex;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid var(--border);
  background-color: var(--surface-glass);
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.1s;
  cursor: pointer;
}

.watchBtn:hover {
  transform: scale(1.1);
}

.inWatch{
    background-color: var(--accent) !important;
}