.logo{
    text-transform: uppercase;
    font-size: var(--font-2xl);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-size: var(--font-2xl);
    color: var(--accent);
}
