.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--text-secondary);
}
.info .rate {
  color: var(--accent);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}